@import '../css//common.scss';

.splash-page{
    background: url(../images/Splash.png) top center fixed; 
    background-size: cover;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.splash-title {
    position: absolute;
    color: white;
    font-size: 38px;
    font-weight: bold;
    margin: 15px;
    right: 0%;
    top: 0%;
  }
  