@import '../css/common.scss';

.Build{
    @include column;
    width: 115px;
    margin-top: 14px;
}

.BuildText {
    font-size: 11px;
    width: 115px;
    height: 16px;
    text-align: center;
}

.BuildButtons{
    @include row;
    justify-content: space-evenly;
    justify-items: center;
    width: 100%;
    height: 25px;
}
